<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>trika</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta property="og:url"           content="http://trika.org.in/liner.html" />
  <meta property="og:site"          content="http://trika.org.in" />
  <meta property="og:title"         content="Liner" />
  <meta property="og:description"   content="Robots will light up the tracks" />
  <meta property="og:image"         content="http://trika.org.in/img/eventpics/liner.png" />

  <!-- Favicons -->
  <link href="img/logo.jpg" rel="icon">
  <link href="img/logo.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style2.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
<div id="overlay"><div class="loader">loading...</div></div>
<div id="app">

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a v-bind:href="home+'#intro'" class="scrollto" ><img src="img/logo.jpg" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
	    <li v-for="section in sections" v-if="section.show==='true'">
		<a v-if="section.name==='Registration'" :href=`${section.url}`>{{ section.name | capitalize }}</a>
		<a v-else :href=`${home+section.url}`>{{ section.name | capitalize }}</a>
	    </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->


  <main id="main" class="main-page">

    <!--==========================
      Speaker Details Section
    ============================-->
    <section id="event-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h2>Details </h2>
	        </div>
	        <div class="row">
          <div class="col-md-6">
            <img src="img/eventpics/bijli.jpg" alt="img" class="img-fluid">
          </div>

          <div class="col-md-6">
            <div class="details">
	    <h1>Capt(IN) Bijli V.M</h1>
		<p>


Captain Bijli VM was Inducted into the Indian Navy as an Officer Cadet in 1988 after completing his schooling at Cochin Refineries School, Ambalamugal, Ernakulam. He got his commission as an Officer of the Indian Navy whilst undergoing his graduation at the prestigious Naval College of Engineering, Lonavla from where he graduated with a B.Tech  degree in Electrical in 1993. He has served on various Indian Naval Ships including INS Shakti, INS Jyoti, INS Agray and INS Ranvijay as an Electrical Officer maintaining a variety of electrical systems as well as electronic weapons and sensors.

He was fortunate enough to return to his almamateur, Naval College of Engineering for instructional duties where he served for over 03 years.  From 2007 for over 06 years he worked as the Quality Assurance Officer at Kochi with the Directorate of Quality Assurance. 

Since 2013, the officer has been in the field of Reliability. His initial posting in the organisation was at HQ, Naval Technical Group, Bangalore from mid-2013 to end 2016 looking into R&M aspects of Weapons & Sensors procured by Indian Navy. Presently, Captain Bijli VM is serving as the Officer-in-Charge of Naval Technical Group, Kochi and is associated with naval projects at NPOL (Kochi), BEL (Bangalore) and Keltron (Trivandrum). He has combined experience of over 13 years with Quality & Reliability.

Captain Bijli has presented papers and given lectures at various Reliability workshops and seminars. To name a few: -

<ol type="a">
    <li> “R&M Specifications & R&M Assurance Plan” @ Annual Reliability Symposium (ARS), 2016, Bangalore.
    </li>
    <li>“Challenges in a Reliability Program” @ Windchill Risk & Reliability Seminar 2017, Bangalore: Mar 2017.
    </li>
    <li>“RDA/ CA/ Weibull models for Field Reliability Assessment” @ Applied Reliability and Durability Conference (ARDC) 2018, Chennai: 09 Aug 2018.
    </li>
    <li>“Reliability Basics/ Filed Reliability/ Integrated R&M Program” during PLCS Workshop @ INS Valsura, Jamnagar: 09/10 Oct 2018.
    </li>
    <li> “The Integrated R&M Program” during Reliability & Quality CEP 2018 @ LRDE, Bangalore.
    </li>
    <li>“Advances in Field Reliability” during the PLCS Symposium  @ Bangalore: Nov 2018.
    </li>
    <li>
	“Failure Forecast & Optimum Replacement Interval” @ Golden Jubilee Seminar of GTTT, Vishakapatnam
    </li>

    <li>“R&M Program: Challenges” @ PLCS Symposium, Bangalore: Nov 2019.
    </li>
</ol>

	</p>

		<p>Venue  : - {{address}}</p>
              <div class="social">
              <a href="https://twitter.com/intent/tweet?text=http://trika.org.in&button_hashtag=Trika" class="twitter"><i class="fa fa-twitter"></i></a>

  <!-- Your share button code -->
    <div class="fb-share-button" 
    data-href="http://trika.org.in/liner.html" 
    data-layout="button_count">
    </div>
                <a href="" hidden="true"><i class="fa fa-google-plus"></i></a>
                <a href="" hidden="true"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          
        </div>
      </div>

    </section>

  </main>



  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
         
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
	    {{contact}} 
            </p>


          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Trika</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <!--<script src="lib/jquery/jquery-migrate.min.js"></script>-->
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <!--<script src="lib/venobox/venobox.min.js"></script>-->
  <!--<script src="lib/owlcarousel/owl.carousel.min.js"></script>-->

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
    <script src="lib/vue/vue.js"></script>

  <script src="js/script3.js"></script>
</div>
</body>

</html>
</html>
