
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Trika</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta property="og:type"          content="http://trika.org.in" />
  <meta property="og:title"         content="Electricuit" />
  <meta property="og:description"   content="Bug the bugs" />
  <meta property="og:image"         content="http://trika.org.in/img/eventpics/electricuit.png" />


  <!-- Favicons -->
  <link href="img/logo.jpg" rel="icon">
  <link href="img/logo.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.min.css?=update" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
<div id="overlay"><div class="loader">loading...</div></div>
  <div id="app">

  <!--==========================
    Header
  ============================-->
   <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a v-bind:href="home+'#intro'" class="scrollto" ><img src="img/logo.jpg" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
	    <li v-for="section in sections" v-if="section.show==='true'">
		<a v-if="section.name==='Registration'" :href=`${section.url}`>{{ section.name | capitalize }}</a>
		<a v-else :href=`${home+section.url}`>{{ section.name | capitalize }}</a>
	    </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->



  <main id="main" class="main-page">

    <!--==========================
      Speaker Details Section
    ============================-->
    <section id="event-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h2> Details</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="img/eventpics/electricuit.png" alt="Quiz" class="img-fluid">
          </div>

          <div class="col-md-6">
<div class="flex-row">
          <div v-for="sponsor in sponsors"  v-if="sponsor.electricuit=='true'" class="col-md-12" style="align-content: center;text-align: center;margin-right: 20%;">
              <a :href="sponsor.url">
                <img :src="sponsor.pic" class="img-fluid" :alt="sponsor.name">
              </a>
          </div>
      </div>


            <div class="details">
              <h2 class="tagline">Electricuit</h2>
	      <p class="tagline"><b>"Bug the bugs"</b></p>
	      <p>

<p>We will break it up for you. You have to put it back. Race against the clock and fellow nerds to do it first and do it right.</p>

<p>In association with TRIKA 2K20, Electronics and Communication Department of ER and DCI Institute of Technology, Academic wing of CDAC, presents</p>
<b>“ELECTRICUIT”</b>
Circuit Debugging Contest
</p>
<p>

<h4>Rules
    </h4> 
<ul>
	<li>A team of at most two shall participate. 
	</li>
	<li>	Graduate and Postgraduate Degree students can participate. 
	</li>    
</ul>	

<h4>Competition
    </h4>
<ul>
<li>1st round - 30 multiple choice questions related to electronic circuits. 60 min time duration. 4 marks each question. 1 mark negative marking. </li>
<li>6 teams to be selected from prelims. Malfunctioning circuit will be given in LTSpice. Each team will have to fix the circuit and show the output. First two teams who do it will get the prize in the order that they finish.</li>
</ul>
Participating teams need to know  <a href="https://www.analog.com/en/design-center/design-tools-and-calculators/ltspice-simulator.html">LTSpice</a>.
</p>
<p>Venue: {{address}}</p>
           <div class="social">
         
              <a href="https://twitter.com/intent/tweet?text=http://trika.org.in&button_hashtag=Trika" class="twitter"><i class="fa fa-twitter"></i></a>

  <!-- Your share button code -->
    <div class="fb-share-button" 
    data-href="http://trika.org.in/electricuit.html" 
    data-layout="button_count">
    </div>
                <a href="" hidden="true"><i class="fa fa-google-plus"></i></a>
                <a href="" hidden="true"><i class="fa fa-linkedin"></i></a>
                </div>

          </div>


            </div>
          </div>
          
        </div>
      </div>

    </section>

  </main>



  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
         
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Trika</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>



  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <!--<script src="lib/jquery/jquery-migrate.min.js"></script>-->
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <!--<script src="lib/venobox/venobox.min.js"></script>-->
  <!--<script src="lib/owlcarousel/owl.carousel.min.js"></script>-->

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
  <script src="lib/vue/vue.js"></script>

  <script src="js/script.min.js?=updates"></script>
</div>
</body>

</html>
</html>
